<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>My Review Blog on Books</h1>
<ul>
  <% for (const post of blogposts) { %>
    <li>
      <h2><%= post.title %></h2>
      <p><%= post.content.substring(0, 100) %></p>
      <a href="/blogpost/<%= post.id %>">Read More</a>
    </li>
  <% } %>
</ul>
<a href="/create-blogpost" class="btn">Create New Blog Post</a>
</body>
</html>
