body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f0f0f0;
  }
    header {
    background-color: #ffa600;
    color: #f90404;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
    .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  a {
    color: #ff0000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  